# Ignore all
*

# Only allow certain files
!.gitignore

!questions.json
!template.json
!template.txt

!index.html
!style.css

!script.js
!QuizState.js
!UIController.js
!QuizDataLoader.js
!QADParser.js
