# Ignore all
*

# Only allow certain files
!.gitignore

!questions.json
!template.json
!template.txt

!index.html
!style.css
!responsive.css

!script.js
!Utils.js
!QuizState.js
!QuizBuilderState.js
!QuizUIController.js
!AppNavigationController.js
!BuilderCardComponent.js
!BuilderUIController.js
!QuizDataLoader.js
!QuizBuilderState
!BuilderState.js
!QADParser.js

